.all{
	margin-top:5%;
	height:80%;
	width:100%;
	border-top:ridge 1px black;
	float:left;
	box-shadow:1px 2px 2px  #66FF99;
	overflow:auto;
}
.main{
	border:solid px black;
	height:15%;
	
		background:rgb(76,175,80);
	width:78%;
	margin-top:-36%;
	margin-left:21%;
}
.mainin{
	
	border:solid px black;
	width:78%;
	height:80%;
	margin-left:21%;
	
}
.unimain{
	
	
	height:99%;
	width:20%;
	border:solid px black;
	box-shadow:2px 2px 2px black;
	
}
.listmain{
	
	height:100%;
	width:17%;
	border:solid px black;
	margin-left:82.7%;
	box-shadow:2px 2px 2px 2px rgb(76,175,80);
	
}